<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>


    <!-- Add bootstrap and others -->
    <script src="/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/bootstrap/js/popper.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src='/socket/socket.io/socket.io.js'></script>
    <!--<form id="send-container">
        <input type="text" id="message-input">
        <button type="submit" id="send-button">Send</button>
    </form>-->
    <section>
        <div id="first-section">
            <div class="row" id="first-row_Robot2">
            </div>
        </div>
    </section>
    <br />
    <section>
        <div class="container-fuild">
            <div class="row">
                <div class="col-md-2" style="display: inline-block">
                    <div class="card">
                        <center class="cartesianCenter">
                            <span class="cartesian">X: <strong><span id="xText">0</span></strong></span><br>
                            <span class="cartesian">Y: <strong><span id="yText">100</span></strong></span><br>
                            <span class="cartesian">Z: <strong><span id="zText">50</span></strong></span><br>
                            <span class="cartesian">Roll: <strong><span id="rollText">180</span></strong></span><br>
                            <span class="cartesian">Pitch: <strong><span id="pitchText">0</span></strong></span><br>
                            <span class="cartesian">Yaw: <strong><span id="yawText">163</span></strong></span><br>
                        </center>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <center>
                            <span class="joint">J1 <strong><span id="j1Text">0</span></strong></span><br>
                            <span class="joint">J2: <strong><span id="j2Text">0</span></strong></span><br>
                            <span class="joint">J3: <strong><span id="j3Text">50</span></strong></span><br>
                            <span class="joint">J4: <strong><span id="j4Text">180</span></strong></span><br>
                        </center>
                    </div>
                </div>
                <div class="col-md-3" style="border-style:solid">
                    <div class="card" style="border-style:none">
                        <center>
                            <div>
                                <button class="button" onclick="btnSVON()">Servo ON</button><br>
                                <button class="button" onclick="btnSVOFF()">Servo OFF</button>
                            </div>
                            <br />
                            <div class="selectdiv">
                                <label>
                                    <select class="select-content" style="width: 210px;" id="select_coordinate" onchange="select_coordinate()">
                                        <option selected> Choose Coordinates </option>
                                        <option>Joint Coordinates</option>
                                        <option>Cartesian Coordinates</option>
                                        <option>Tool Coordinates</option>
                                        <option>User Coordinate</option>
                                    </select>
                                </label>
                            </div>
                            <div class="selectdiv">
                                <label>
                                    <select class="select-content" style="width: 210px;" id="select_tool" onchange="select_tool()">
                                        <option selected> Choose Tool </option>
                                        <option>Joint Coordinates</option>
                                        <option>Cartesian Coordinates</option>
                                        <option>Tool Coordinates</option>
                                        <option>User Coordinates</option>
                                    </select>
                                </label>
                            </div>
                            <div class="selectdiv">
                                <label>
                                    <select class="select-content" style="min-width: 210px;" id="select_speed" onchange="select_speed()">
                                        <option selected> Choose Speed </option>
                                        <option>Low</option>
                                        <option>Medium</option>
                                        <option>High</option>
                                        <option>Top</option>
                                    </select>
                                </label>
                            </div>
                        </center>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="card" style="border-style: solid;">
                        <label>Jog</label>
                        <center class="jog">
                            <div>
                                <button class="button-jog" onmousedown="btnJ1_neg_pressed()" onmouseup="btnJ1_neg_released()">J1-</button>
                                <button class="button-jog" onmousedown="btnJ1_pos_pressed()" onmouseup="btnJ1_pos_released()">J1+</button><br>
                                <button class="button-jog" onmousedown="btnJ2_neg_pressed()" onmouseup="btnJ2_neg_released()">J2-</button>
                                <button class="button-jog" onmousedown="btnJ2_pos_pressed()" onmouseup="btnJ2_pos_released()">J2+</button><br>
                                <button class="button-jog" onmousedown="btnJ3_neg_pressed()" onmouseup="btnJ3_neg_released()">J3-</button>
                                <button class="button-jog" onmousedown="btnJ3_pos_pressed()" onmouseup="btnJ3_pos_released()">J3+</button><br>
                                <button class="button-jog" onmousedown="btnJ4_neg_pressed()" onmouseup="btnJ4_neg_released()">J4-</button>
                                <button class="button-jog" onmousedown="btnJ4_pos_pressed()" onmouseup="btnJ4_pos_released()">J4+</button><br>
                                <button class="button-jog" onmousedown="btnJ5_neg_pressed()" onmouseup="btnJ5_neg_released()">J5-</button>
                                <button class="button-jog" onmousedown="btnJ5_pos_pressed()" onmouseup="btnJ5_pos_released()">J5+</button><br>
                                <button class="button-jog" onmousedown="btnJ6_neg_pressed()" onmouseup="btnJ6_neg_released()">J6-</button>
                                <button class="button-jog" onmousedown="btnJ6_pos_pressed()" onmouseup="btnJ6_pos_released()">J6+</button><br>

                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        const statusBar_Robot2 = [
        {
            name: "Tool\n Number",
            value: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
            img:   ["/images/imgs/tool.png"],
            id: "toolnum_Robot2",
            img_id: "img_toolnum_Robot2"
        },
        {
            name: "Jogging Speed",
            value: ["Low", "Medium", "High", "Top"],
            img:   ["/images/imgs/low_speed.png", "/images/imgs/medium_speed.png", "/images/imgs/high_speed.png", "/images/imgs/top_speed.png"],
            id: "jogspe_Robot2",
            img_id: "img_jogspe_Robot2"
        },
        {
            name: "Coordinate System",
            value: ["Joint", "XYZ-World", "XYZ-Tool", "User"],
            img:   ["/images/imgs/jog_coor.png", "/images/imgs/world_coor.png", "/images/imgs/tool_coor.png", "/images/imgs/user_coor.png"],
            id: "coord_Robot2",
            img_id: "img_coord_Robot2"
        },
        {
            name: "Servo Status",
            value: ["OFF", "ON"],
            img:   ["/images/imgs/off_servo_status.png", "/images/imgs/on_servo_status.png"],
            id: "servosta_Robot2",
            img_id: "img_servosta_Robot2"
        },
        {
            name: "System Status",
            value: ["OK", "Alarm", "Run", "Pause"],
            img:   ["/images/imgs/ok_system_status.png", "/images/imgs/alarm_system_status.png", "/images/imgs/run_system_status.png", "/images/imgs/pause_system_status.png"],
            id: "systemsta_Robot2",
            img_id: "img_systemsta_Robot2"
        },
        {
            name: "Lock/Unlock Controller",
            value: ["Unlock", "Lock"],
            img:   ["/images/imgs/unlock.png", "/images/imgs/lock.png"],
            id: "lock_Robot2",
            img_id: "img_lock_Robot2"
        },
        {
            name: "Mode",
            value: ["Teach", "Automatic"],
            img:   ["/images/imgs/teach.png", "/images/imgs/auto.png]"],
            id: "mode_Robot2",
            img_id: "img_mode_Robot2"
        },
        {
            name: "Security Level",
            value: ["Operation", "Edit", "Management"],
            img:   ["/images/imgs/security.png"],
            id: "secur_Robot2",
            img_id: "img_secur_Robot2"
        },
        ]
        const main_Robot2 = document.getElementById("first-row_Robot2");
        statusBar_Robot2.forEach(element => {
            const div_card = document.createElement('div');
            div_card.innerHTML = `
                        <center>
                            <div class="col">
                                <center>
                                    <div class="card" style="width: 9rem; height: 9rem">
                                            <center><img src=${element["img"][0]} id="${element["img_id"]}" class="thumbnail"/></center>
                                            <center><p id="${element["id"]}">${element["value"][0]}</p></center>
                                            <h3 style="font-size: 16px">${element["name"]}</h3>
                                    </div>
                                </center>
                                </div>
                        </center>
            `
            main_Robot2.appendChild(div_card);
        })




        socket.on('temp', function (data) {
            //console.log("changed");
            const x_text = document.getElementById("xText");
            x_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('pos', function (data) {
            //console.log("changed");
            const y_text = document.getElementById("yText");
            y_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('Robot2/ToolNumber', function (data) {
            console.log("Robot2/ToolNumber: " + data);
            //const z_text = document.getElementById("zText");
            //z_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;

            //const roll_text = document.getElementById("rollText");
            //roll_text.innerText = statusBar_Robot2[1]["value"][3];
            //roll_text.innerText = statusBar_Robot2[1]["value"][Math.round(data.value)];
            //console.log('statusBar_Robot2[1]["value"][3]' + statusBar_Robot2[1]["value"][3]);
            //console.log('index: ' + Math.round(data.value));
            const Tool_Number = document.getElementById("toolnum_Robot2");
            Tool_Number.innerText = Math.round(data.value);
        });
        socket.on('Robot2/JogSpeed', function (data) {
            console.log("Robot2/JogSpeed: " + data);
            //const z_text = document.getElementById("zText");
            //z_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;

            //const roll_text = document.getElementById("rollText");
            ////roll_text.innerText = statusBar_Robot2[1]["value"][3];
            //roll_text.innerText = statusBar_Robot2[1]["value"][Math.round(data.value)];
            //console.log('statusBar_Robot2[1]["value"][3]' + statusBar_Robot2[1]["value"][3]);
            //console.log('index: ' + Math.round(data.value));
            const Jog_Speed = document.getElementById("jogspe_Robot2");
            Jog_Speed.innerText = statusBar_Robot2[1]["value"][Math.round(data.value)];
            const img_Jog_Speed = document.getElementById("img_jogspe_Robot2");
            img_Jog_Speed.src = statusBar_Robot2[1]["img"][Math.round(data.value)];
        });

        socket.on('Robot2/Coordinate', function (data) {
            console.log("Robot2/Coordinate: " + data);
            const Coordinate = document.getElementById("coord_Robot2");
            Coordinate.innerText = statusBar_Robot2[2]["value"][Math.round(data.value)];
            const img_Coordinate = document.getElementById("img_coord_Robot2");
            img_Coordinate.src = statusBar_Robot2[2]["img"][Math.round(data.value)];

        });
        socket.on('Robot2/ServoStt', function (data) {
            console.log("Robot2/ServoStt: " + data);
            const Servo_Status = document.getElementById("servosta_Robot2");
            Servo_Status.innerText = statusBar_Robot2[3]["value"][Math.round(data.value)];
            const img_Servo_Status = document.getElementById("img_servosta_Robot2");
            img_Servo_Status.src = statusBar_Robot2[3]["img"][Math.round(data.value)];

        });
        socket.on('Robot2/SystemStt', function (data) {
            console.log("Robot2/SystemStt: " + data);
            const System_Status = document.getElementById("systemsta_Robot2");
            System_Status.innerText = statusBar_Robot2[4]["value"][Math.round(data.value)];
            const img_System_Status = document.getElementById("img_systemsta_Robot2");
            img_System_Status.src = statusBar_Robot2[4]["img"][Math.round(data.value)];
        });
        socket.on('Robot2/LockRBC', function (data) {
            console.log("Robot2/LockRBC: " + data);
            const Lock_RBC = document.getElementById("lock_Robot2");
            Lock_RBC.innerText = statusBar_Robot2[5]["value"][Math.round(data.value)];
            const img_Lock_RBC = document.getElementById("img_lock_Robot2");
            img_Lock_RBC.src = statusBar_Robot2[5]["img"][Math.round(data.value)];
        });
        socket.on('Robot2/Mode', function (data) {
            console.log("Robot2/Mode: " + data);
            const Mode_ = document.getElementById("mode_Robot2");
            Mode_.innerText = statusBar_Robot2[6]["value"][Math.round(data.value)];
            const img_Mode_ = document.getElementById("img_mode_Robot2");
            img_Mode_.src = statusBar_Robot2[6]["img"][Math.round(data.value)];
        });
        socket.on('Robot2/SecLevel', function (data) {
            console.log("Robot2/SecLevel: " + data);
            const System_Status = document.getElementById("secur_Robot2");
            System_Status.innerText = statusBar_Robot2[7]["value"][Math.round(data.value)];
        });
        socket.on('Robot2/theta1', function (data) {
            console.log("Robot2/theta1: " + data);
            const theta1_text = document.getElementById("j1Text");
            theta1_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('Robot2/theta2', function (data) {
            console.log("Robot2/: " + data);
            const theta2_text = document.getElementById("j2Text");
            theta2_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('Robot2/theta3', function (data) {
            console.log("Robot2/theta3: " + data);
            const theta3_text = document.getElementById("j3Text");
            theta3_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('Robot2/', function (data) {
            console.log("Robot2/theta4: " + data);
            const theta4_text = document.getElementById("j4Text");
            theta4_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('Robot2/XYZ1', function (data) {
            console.log("Robot2/XYZ1: " + data);
            const x_text = document.getElementById("xText");
            x_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('Robot2/XYZ2', function (data) {
            console.log("Robot2/XYZ2: " + data);
            const y_text = document.getElementById("yText");
            y_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('Robot2/XYZ3', function (data) {
            console.log("Robot2/XYZ3: " + data);
            const z_text = document.getElementById("zText");
            z_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('Robot2/XYZ4', function (data) {
            console.log("Robot2/XYZ4: " + data);
            const roll_text = document.getElementById("rollText");
            roll_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('Robot2/XYZ5', function (data) {
            console.log("Robot2/XYZ5: " + data);
            const pitch_text = document.getElementById("pitchText");
            pitch_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        socket.on('Robot2/XYZ6', function (data) {
            console.log("Robot2/XYZ6: " + data);
            const yaw_text = document.getElementById("yawText");
            yaw_text.innerText = Math.round((data.value + Number.EPSILON) * 100) / 100;
        });
        //messageForm.addEventListener('submit', e => {
        //    e.preventDefault()
        //    const message = messageInput.value
        //    socket.emit('send-chat-message', message)
        //    messageInput.value = ''
        //    console.log(message)
        //})
        socket.on('received-chat-message', message => {
            console.log("Message is sent: " + message);
        })
        function btnSVON() {
            socket.emit('Robot2/SVON', 'clicked');
        }
        function btnSVOFF() {
            socket.emit('Robot2/SVOFF', 'clicked');
        }
        function select_coordinate() {
            var d = document.getElementById("select_coordinate");
            var displaytext = d.options[d.selectedIndex].text;
            socket.emit('Robot2/Sel_Cor', displaytext);
        }
        function select_tool() {
            var d = document.getElementById("select_tool");
            var displaytext = d.options[d.selectedIndex].text;
            socket.emit('Robot2/Sel_Too', displaytext);
        }
        function select_speed() {
            var d = document.getElementById("select_speed");
            var displaytext = d.options[d.selectedIndex].text;
            socket.emit('Robot2/Sel_Spe', displaytext);
        }
        function btnJ1_neg_pressed() {
            console.log("J1_neg pressed");
            //const x_text = document.getElementById("xText");
            //x_text.innerText = " J1_neg pressed";
            socket.emit('Robot2/pressed', 'J1_neg');
        }
        function btnJ1_pos_pressed() {
            socket.emit('Robot2/pressed', 'J1_pos');
        }
        function btnJ2_neg_pressed() {
            socket.emit('Robot2/pressed', 'J2_neg');
        }
        function btnJ2_pos_pressed() {
            socket.emit('Robot2/pressed', 'J2_pos');
        }
        function btnJ3_neg_pressed() {
            socket.emit('Robot2/pressed', 'J3_neg');
        }
        function btnJ3_pos_pressed() {
            socket.emit('Robot2/pressed', 'J3_pos');
        }
        function btnJ4_neg_pressed() {
            socket.emit('Robot2/pressed', 'J4_neg');
        }
        function btnJ4_pos_pressed() {
            socket.emit('Robot2/pressed', 'J4_pos');
        }
        function btnJ5_neg_pressed() {
            socket.emit('Robot2/pressed', 'J5_neg');
        }
        function btnJ5_pos_pressed() {
            socket.emit('Robot2/pressed', 'J5_pos');
        }
        function btnJ6_neg_pressed() {
            socket.emit('Robot2/pressed', 'J6_neg');
        }
        function btnJ6_pos_pressed() {
            socket.emit('Robot2/pressed', 'J6_pos');
        }
        function btnJ1_neg_released() {
            console.log("J1_neg released");
            //const x_text = document.getElementById("xText");
            //x_text.innerText = "J1_neg released";
            socket.emit('Robot2/released', 'J1_neg');
        }
        function btnJ1_pos_released() {
            socket.emit('Robot2/released', 'J1_pos');
        }
        function btnJ2_neg_released() {
            socket.emit('Robot2/released', 'J2_neg');
        }
        function btnJ2_pos_released() {
            socket.emit('Robot2/released', 'J2_pos');
        }
        function btnJ3_neg_released() {
            socket.emit('Robot2/released', 'J3_neg');
        }
        function btnJ3_pos_released() {
            socket.emit('Robot2/released', 'J3_pos');
        }
        function btnJ4_neg_released() {
            socket.emit('Robot2/released', 'J4_neg');
        }
        function btnJ4_pos_released() {
            socket.emit('Robot2/released', 'J4_pos');
        }
        function btnJ5_neg_released() {
            socket.emit('Robot2/released', 'J5_neg');
        }
        function btnJ5_pos_released() {
            socket.emit('Robot2/released', 'J5_pos');
        }
        function btnJ6_neg_released() {
            socket.emit('Robot2/released', 'J6_neg');
        }
        function btnJ6_pos_released() {
            socket.emit('Robot2/released', 'J6_pos');
        }
    </script>

</body>
</html>
<style>
    * {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 19px;
}

.card {
  border-radius: 19px;
  padding: 5px;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-color: black;
}

.selectdiv {
  display: block;
  font-size: 16px;
  width: 200px;
  height: 50px;
  /*   margin: 20px 20px 20px 20px; */
  /*     border-style: solid */
}

.select-content {
  /*   position: absolute; */
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
  padding: 12px 16px;
  z-index: 1;
}

.button {
  display: block;
  width: 150px;
  height: 50px;
  font-size: 16px;
}

.button-jog {
  width: 60px;
  height: 30px;
  font-size: 16px;
  margin: 5px
}

body {
  background-color: #f5f5f5;
}

.container {
  margin-top: 50px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
}

form h2 {
  margin-bottom: 20px;
}

form .form-group {
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
}

form input[type="text"], form input[type="password"] {
  border-radius: 0;
}

form button[type="submit"] {
  border-radius: 0;
}
.tab-pane {
  position: absolute;
  top: 200px;
  width: 100%
}

</style>